body{
	background:center 0%/100% 100% no-repeat fixed url("images/background.jpg");
}

.header{
	position:fixed;
	text-align:center;
}

.nav_bar{
	border:none;
}

/* 侧边栏 */

/*
#con_btn {
	position: absolute;
	top: 25%;
	left: 20vw;
	height: 75px;
	border: 0;
	border-left: 1px solid rgb(23, 32, 43, 0.2);
	background: #AA0000;
	color: #fff;
	cursor: pointer;
}*/

.content {
	float: left;
	width: 20vw;
	display: block;
	border-radius:10px;
	background:rgba(160,160,160,0.5);/*255 150*/
	top:70px;
	bottom:0;
	position:fixed;
	/*-moz-transition: margin-left 2s;*/
	transition: margin-left 2s;
	overflow-y:scroll;
}

aside ul li {
	line-height: 40px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	list-style-type: none;
	text-align: center;
}

aside ul li * {
	text-decoration: none;
	color: #fff;
	display: block;
}

aside ul li a:hover {
	background:rgba(255,255,255,0.5);/*255 70*/
}

.profile_photo{
	width:150px;
	height:150px;
	margin-left:3vw;
	margin-top:1vw;
	border-radius:75px;
	background: url("./images/profile.png") no-repeat center;
	background-size:150px;
}

main article {
	background: rgba(169,160,160,0.1);/*255 70*/
	color:rgba(255,255,255);
	position:fixed;
	left:0;
	top:70px;
	bottom:0;
	right:0;
	font-size:2em;
	text-align:center;
	overflow-y:scroll;
}

.main_article{
	left:21vw;
}




