body{
	background:center 0%/100% 100% no-repeat fixed rgba(0,0,0) url("images/background.jpg");
}

.header{
	position:fixed;
	text-align:center;
}

.nav_bar{
	height:70px;
	border:none;
	position:fixed;
	top:0;
	left:0;
}


aside iframe{
	width:100%;
	height:calc(100% - 20px);
}



main article {
	background: rgba(169,160,160,0.1);/*255 70*/
	color:rgba(255,255,255);
	position:fixed;
	left:0;
	top:70px;
	bottom:0;
	right:0;
	font:"JetBrains Mono" "Microsoft Yahei";
	overflow-y:scroll;
	line-height:1.5em;
}

main article > *{
	margin-left:2%;
	margin-right:2%;
}


a{
	color:rgba(160,255,255);
}

code{
	background:rgba(190,200,210,0.8);
	color:rgb(0,0,0);
	border-radius:4px;
}

.main_article{
	left:21vw;
}




